:root {
    --primary-color: #1b4332;
    --secondary-color: #40916c;
    --color-bg: #74c69d;
    --color-text: #081c15;
    --color-text-light: #d8f3dc;
    --color-card-odd: #b7e4c7;

    --font-family: sans-serif;
    --font-size-base: 1rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;

    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;

    --radius-sm: 5px;
    --radius-md: 10px;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button:focus-visible, a:focus-visible, input:focus-visible, textarea:focus-visible {
    outline: 3px solid orange;
}

body { 
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 1.6;
}

header { 
    background-color: var(--primary-color);
    color: var(--color-text-light);
    padding: var(--spacing-sm) var(--spacing-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul { 
    list-style: none;
    display: flex;
    gap: var(--spacing-md);
}

nav a { 
    color: var(--color-text-light);
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

nav a::after { 
    content:¨¨;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--secondary-color);
    transition: width 0.3s ease;
}

nav a:hover::after { 
    width: 100%;
}

nav li:first-child a {
    color: #ffc857;
}
