:root {
    --primary-color: #1b4332;
    --secondary-color: #40916c;
    --color-bg: #74c69d;
    --color-text: #46494c;
    --color-text-light: #d8f3dc;
    --color-card-odd: #b7e4c7;

    --font-family: sans-serif;
    --font-size-base: 1rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;

    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;

    --radius-sm: 5px;
    --radius-md: 10px;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

